[submodule "mozdownload"]
	path = mozdownload
	url = git://github.com/mykmelez/mozdownload.git
[submodule "mozbase"]
	path = mozbase
	url = git://github.com/mykmelez/mozbase.git
[submodule "addon-sdk"]
	path = addon-sdk
	url = git://github.com/mykmelez/addon-sdk.git
[submodule "gaia"]
	path = gaia
	url = git://github.com/mykmelez/gaia.git
[submodule "addon/packages/subprocess"]
	path = addon/packages/subprocess
	url = git://github.com/mykmelez/jetpack-subprocess.git
