# generated Gaia profile and other files the Add-on SDK needs to be in that dir
addon/template

# platform-specific directories containing B2G Desktop binaries
addon/data/win32
addon/data/mac64
addon/data/linux
addon/data/linux64
