[submodule "mozdownload"]
	path = mozdownload
	url = git://github.com/mozilla/mozdownload.git
[submodule "mozbase"]
	path = mozbase
	url = git://github.com/mozilla/mozbase.git
[submodule "addon-sdk"]
	path = addon-sdk
	url = git://github.com/mozilla/addon-sdk.git
