<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Simulator Dashboard - Firefox OS</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <article>
            <header id="sidebar">
                <h1><div class="wordmark">Firefox OS</div>
                    Simulator
                    <aside class="badge">Alpha</aside>
                </h1>

                <div class="item">
                    <fieldset id="commands">
                        <h5>Simulator</h5>
                        <label class="toggle">
                            <input type="checkbox" id="command-toggle" />
                            <span class="toggles">
                                <span class="toggle-on">Stopped</span>
                                <span class="toggle-off">Running</span>
                            </span>
                        </label>
                    </fieldset>
                </div>
                <h5 id="device-status" class="device-dependent">
                    <img src="device.svg" alt="Device"> Device connected.
                </h5>
            </header>

            <section id="dashboard">
                <section id="add-project-dialog">
                    <ul class="list-actions">
                        <li>
                            <button id="action-add-directory" title="Select the manifest.webapp file from your app directory." onclick="Simulator.addAppByDirectory()">Add Directory</button>
                        </li>
                        <li>
                            <form id="form-add-app" action="#">
                                <input id="add-app-url" list="list-app-tabs" type="url" placeholder="URL for page or manifest.webapp" required pattern="https?://.+" />
                                <datalist id="list-app-tabs"></datalist>
                                <button id="action-add-page" title="A manifest will be generated for this page." disabled>Add URL</button>
                                <button id="action-add-manifest" title="Only enabled when the manifest is valid (JSON and correct mime type)" disabled>Add Manifest</button>
                            </form>
                        </li>
                        <li>
                            <a id="help" class="item button" href="https://developer.mozilla.org/en-US/docs/Tools/Firefox_OS_Simulator" target="_blank">Help</a>
                        </li>
                    </ul>
                </section>
                <div id="dash-main">
                    <header>
                        <h2>Dashboard</h2>
                    </header>
                    <ul id="apps-list">
                        <li class="notice">Loading your apps&hellip;</li>
                    </ul>
                </div>
            </section>

        </article>

        <script type="text/template" id="app-template">
            <li class="app {{ 'removed' if removed }} {{ 'updateReceipt' if updateReceipt }}" data-id="{{ id | escape }}">
                <div class="options">
                    {% if removed %}
                        <button class="action" data-action="undo">Undo</button>
                    {% else %}
                        <button class="action device-dependent" data-action="push">Push</button>
                        <button class="action refresh" data-action="update"
                                title="Pushes the latest code to the Simulator and launches the app.">
                                Refresh</button>
                        <button class="action connect" data-action="connect">Connect</button>
                        <button title="Remove" class="action remove" data-action="remove">Remove</button>
                        <div class="receipt">
                            <label class="receipt-label">Receipt:</label>
                            <select class="receipt-type">
                                {% for type in receiptTypes %}
                                    <option value="{{ type.id }}" {{ 'selected' if receiptType == type.id else '' }}>{{ type.pretty }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                </div>
                <h4>
                    <img class="appIcon" src="{{ iconPath | escape }}" />
                    {{ name | escape }}<small>{{ 'has been removed' if removed else prettyType }}</small>
                </h4>
                <p>
                    Last updated: {{ prettyLastUpdate or 'never' }}
                </p>
                <p>
                    <a title="{{ id | escape }}" class="action" data-action="reveal" href="#">Open Location</a> <span class="location">{{ id | escape }}</span>
                </p>
                {% if validation and not removed %}
                    {% set errors = validation.errors %}
                    {% set warnings = validation.warnings %}
                    <div class="app-validation">
                        <span class="app-validation-result">Validation Result:
                            {% if validation.running %}
                                RUNNING
                            {% elif errors.length %}
                                INVALID
                            {% elif warnings.length %}
                                WARNING
                            {% else %}
                                OK
                            {% endif %}
                        </span>
                        {% if errors.length or warnings.length %}
                            <a href="#" class="action" data-action="validation">
                                ({{ errors.length }} errors and {{ warnings.length }} warnings)
                            </a>
                        {% endif %}
                        <div class="app-validation-list">
                            {% if errors.length %}
                                Errors:
                                <ul class='app-validation-errors'>
                                    {% for msg in errors %}
                                        <li><pre>{{ msg | escape }}</pre></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            {% if warnings.length %}
                                Warnings:
                                <ul class='app-validation-warnings'>
                                    {% for msg in warnings %}
                                        <li><pre>{{ msg | escape }}</pre></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </li>
        </script>

        <script src="js/vendor/jquery-1.9.1.js"></script>
        <script src="js/vendor/nunjucks-dev.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/applist.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
