/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
    color: black;
    background-image: url(watermark.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: -moz-box;
    -moz-box-orient: horizontal;
}
a {
    color: rgb(17, 85, 204);
}
.center-box {
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;
    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;
}
article {
    display: -moz-box;
    -moz-box-flex: 1;
    -moz-box-align: stretch;
    box-align: stretch;
    min-width: 480px;
    min-height: 384px;
    height: 100%;
}
header {
    width: 200px;
    margin-right: 10px;
    padding: 10px 10px;
    border-right: 1px solid #eee;
    background-color: #f5f5f5;
    text-align: right;
}
h1, h2 {
    margin: 10px 0 15px;
    padding: 10px 0;
    color: #4D4E53;
    font-weight: lighter;
    font-size: 1.5em;
}
h2 {
    border-bottom: 1px solid #eee;
}
.beta {
    position: absolute;
    left: -20px;
    top: 69px;
    text-align: center;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 0, 0, 0.7);
    padding: 1px 40px;
    font-size: 16px;
    font-weight: bolder;
    color: white;
}
nav {
    margin: 20px 0;
}
nav ul {
    margin: 0;
}
nav li {
    margin: 0;
}
nav li a {
    display: block;
    color: #888;
    text-decoration: none;
    padding: 5px 0;
}
nav li a:active, nav li a.active {
    color: #4D4E53;
}

article section {
    display: none;
    -moz-box-flex: 1;
    box-flex: 1;
    padding: 10px 10px;
}
section.active {
    display: -moz-box;
    display: box;
}
dfn {
    border-radius: 3px;
    border: none;
    background-color: #222;
    color: #fff;
    text-decoration: none;
    font-style: normal;
    padding: 3px 5px 2px;
    white-space: nowrap;
}
figure {
    display: block;
    text-align: center;
    margin-bottom: 1.5em;
}

#commands {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 9px 9px 9px 0;
}

#commands h5 {
    text-align: right;
    display: inline;
    font-size: 0.8em;
    color: #888;
    font-weight: normal;
    padding-right: 5px;
}
#commands h5 a {
    color: #888;
    border-bottom: 1px dotted #888;
    text-decoration: none;
}

.commands-options {
    display: block;
    margin-top: 10px;
    line-height: 1.4em;
    font-size: 0.8em;
    color: #888;
}
.commands-options input {
    margin-right: 5px;
}

.toggle {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    width: 98px;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.toggles {
    width: 170%;
    display: block;
    margin-left: -70%;
    transition: margin-left 0.1s ease-in 0s;
}
.toggle .toggle-on, .toggle .toggle-off {
    width: 50%;
    float: right;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
    line-height: 1.6em;
    transition: background-color 0.15s ease-in 0s;
    background-color: rgba(255, 255, 255, 0);
    padding-top: 2px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
}
.toggle .toggle-on {
    padding-left: 6px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #c4521b;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2) inset;
}
.toggle .toggle-off {
    box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2) inset;
    padding-right: 6px;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0);
    color: #4d5713;
}
.toggle input {
    display: none;
}
.toggle input:checked + .toggles {
    margin-left: 0%;
}
.toggle input:checked + .toggles .toggle-off {
    background-color: #adbe35;
}
.toggle input:checked + .toggles .toggle-on {
    background-color: rgba(255, 255, 255, 0);
}
.toggle input:indeterminate + .toggles {
    opacity: 0.4;
    cursor: progress;
}
.list-actions {
    margin: 0;
    padding: 10px 0 14px;
    list-style: none;
    display: block;
    text-align: right;
}
.list-actions li {
    display: inline-block;
    padding: 0 10px;
    margin: 0;
    border-left: 1px dotted #eee;
}
.list-actions li:first-child {
    border-left: none;
}
.list-actions small {
    font-size: 0.8em;
    color: #888;
}

#apps-list {
    border-bottom: 1px solid #eee;
    margin-bottom: 25px;
    padding: 0 10px;
}
#apps-list > em {
    display: block;
    text-align: center;
    color: #888;
    padding: 9px 19px;
}
#apps-list .app {
    margin: 5px 0 10px;
    padding: 9px 0;
    border-radius: 5px;
}
#apps-list .app.removed h4 {
    color: #888;
}
#apps-list h4 {
    font-size: 1.1em;
    color: #4D4E53;
    font-weight: normal;
    margin: 0;
    margin-bottom: 2px;
}
#apps-list h4 small {
    font-size: 0.7em;
    color: #888;
    padding-left: 10px;
}
#apps-list .options {
    float: right;
}
#apps-list .options button, #apps-list .options a {
    padding: 3px 10px;
    font-weight: normal;
    text-decoration: none;
}
#apps-list label {
    padding-left: 5px;
}
#apps-list input[type="checkbox"] {
}
#apps-list p {
    font-size: 0.8em;
    color: #888;
    margin: 0;
    margin-bottom: 2px;
}
#apps-list label span {
    font-size: 0.8em;
    color: #888;
    padding: 0 10px;
}
button, input[type="url"], input[type="text"] {
    font-size: 0.8em;
    color: #444;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 7px 9px;
    font-weight: bold;
}
button:disabled {
    color: #999;
    cursor: default;
}
input[type="url"], input[type="text"] {
    background-color: #fff;
    color: #4D4E53;
    font-weight: normal;
    width: 200px;
}
input:-moz-placeholder {
    color: #999;
    font-style: italic;
}
button:hover:not(:disabled), .popover-wrap:hover button, a.button:hover {
    color: #222;
    cursor: pointer;
}
a.button {
    font-size: 0.8em;
    padding: 8px 12px;
}
.popover-wrap button {
    pointer-events: none;
    z-index: 2;
}
.popover-wrap select {
    border: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-appearance: none;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}
.popover-wrap select:active {
    opacity: 1;
}
.popover-wrap select option {
    background-color: #adbe35;
    color: #4d5713;
    padding: 2px 4px;
}
.popover-wrap select option:disabled {
    font-style: italic;
}
.popover-wrap {
    display: inline;
    position: relative;
}
#action-add-manifest, .is-manifest #action-add-page {
    display: none;
}
.is-manifest #action-add-manifest, #action-add-page {
    display: inline;
}
.button-popover {
    display: none;
    position: absolute;
    right: 0.4em;
    top: 1.2em;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #fff;
}
.popover-wrap:hover .button-popover {
    display: block;
}