/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
    color: black;
    background-image: url(watermark.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: -moz-box;
    -moz-box-orient: horizontal;
}
a {
    color: #1155cc;
}
.center-box {
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;
    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;
}
article {
    display: -moz-box;
    -moz-box-flex: 1;
    -moz-box-align: stretch;
    box-align: stretch;
    min-width: 480px;
    min-height: 384px;
    height: 100%;
}
#sidebar {
    width: 200px;
    margin: 0;
    padding: 0;
    border-right: 1px solid #eee;
    background-color: #f5f5f5;
    text-align: right;
    box-shadow: 0 0 ;
}
#sidebar .item {
    padding: 20px 10px;
    margin: 0;
    display: block;
}
h1, h2 {
    color: #4D4E53;
    font-weight: lighter;
    font-size: 1.5em;
}
h1 {
    text-align: left;
    position: relative;
    width: 140px;
    margin: 20px auto;
    padding: 10px 0;
}
.wordmark {
    text-align: left;
    display: block;
    background-image: url('../fxos-wordmark.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 32px;
    width: 140px;
    text-indent: -9999px;
}
.badge, .badge:before, .badge:after {
    text-align: center;
    display: block;
    width: 32px;
    height: 16px;
    position: absolute;
    color: white;
    text-indent: 2px;
    font: bold 9px/16px Helvetica;
    letter-spacing: 0.5px;
    padding: 0 10px;
    cursor: default;
    text-decoration: none;
    z-index: 1;
    background: red;
    transform: rotate(-30deg);
    right: 13px;
    bottom: 13px;
}

.badge:after, .badge:before {
    content: "";
    background: inherit;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    z-index: -1;
    transform: skewX(40deg);
}
.badge:after {
    transform: skewX(-40deg);
}

article > section {
    -moz-box-flex: 1;
    box-flex: 1;
    padding: 10px 10px;
}
section.active {
    display: -moz-box;
    display: box;
}
dfn {
    border-radius: 3px;
    border: none;
    background-color: #222;
    color: #fff;
    text-decoration: none;
    font-style: normal;
    padding: 3px 5px 2px;
    white-space: nowrap;
}
figure {
    display: block;
    text-align: center;
    margin-bottom: 1.5em;
}

#commands {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 9px 9px 9px 0;
}

#commands h5 {
    text-align: right;
    display: inline;
    font-size: 0.8em;
    color: #888;
    font-weight: normal;
    padding-right: 5px;
}
#commands h5 a {
    color: #888;
    border-bottom: 1px dotted #888;
    text-decoration: none;
}

.toggle {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    width: 88px;
    font-size: .8em;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.toggles {
    width: 170%;
    display: block;
    margin-left: -70%;
    transition: margin-left 0.1s ease-in 0s;
}
.toggle .toggle-on, .toggle .toggle-off {
    width: 50%;
    float: right;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
    line-height: 1.6em;
    transition: background-color 0.15s ease-in 0s;
    background-color: rgba(255, 255, 255, 0);
    padding-top: 2px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
}
.toggle .toggle-on {
    padding-left: 6px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #c4521b;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2) inset;
}
.toggle .toggle-off {
    box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2) inset;
    padding-right: 6px;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0);
    color: #4d5713;
}
.toggle input {
    display: none;
}
.toggle input:checked + .toggles {
    margin-left: 0%;
}
.toggle input:checked + .toggles .toggle-off {
    background-color: #adbe35;
}
.toggle input:checked + .toggles .toggle-on {
    background-color: rgba(255, 255, 255, 0);
}
.toggle input:indeterminate + .toggles {
    opacity: 0.4;
    cursor: progress;
}
.list-actions {
    font-size: .8em;
    margin: 0;
    padding: 10px 0 14px;
    list-style: none;
    display: block;
    display: -moz-box;
    display: flex;
}
.list-actions li {
    display: block;
    padding: 0 10px;
    margin: 0;
    border-left: 1px dotted #eee;
}
.list-actions li:first-child {
    border-left: none;
}
.list-actions small {
    font-size: 0.8em;
    color: #888;
}

#apps-list {
    border-bottom: 1px solid #eee;
    margin-bottom: 25px;
    padding: 0 10px;
    list-style-type: none;
}
#apps-list .notice {
    font-weight: 300;
    text-align: center;
    margin: 1em;
}
#apps-list > em {
    display: block;
    text-align: center;
    color: #888;
    padding: 9px 19px;
}
#apps-list .app {
    margin: 5px 0 10px;
    padding: 6px 36px 6px 65px;
    border-radius: 5px;
    position: relative;
    line-height: 1.1rem;
}
#apps-list .app.removed {
    padding: 6px 6px 6px 65px;
}
#apps-list .app .remove {
    position: absolute;
    right: 0;
    top: 6px;
    width: 22px;
    height: 22px;
    overflow: hidden;
    text-indent: 24px;
    display: block;
    background-image: url('../x.svg#black');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px;
}
#apps-list .app .remove:not(:hover) {
    border-color: transparent;
    background-color: transparent;
}
#apps-list .app .remove:hover {
    background-image: url('../x.svg#red');
}
.appIcon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5px;
    left: 0;
}
.app .location {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: -moz-calc(100% - 400px);
    position: absolute;
    margin-left: 1em;
}
.app .location:hover {
    max-width: none;
    box-shadow: 0 0 0 5px #fff,
                0 0 2px 5px #000;
    background: #fff;
    z-index: 1;
}
#apps-list .app.removed h4 {
    color: #888;
}
#apps-list h4 {
    font-size: 1.1em;
    color: #4D4E53;
    font-weight: normal;
    margin: 0;
    margin-bottom: 2px;
}
#apps-list h4 small {
    font-size: 0.7em;
    color: #888;
    padding-left: 10px;
}
#apps-list .options {
    text-align: right;
    float: right;
    font-size: .8rem;
}
#apps-list .options {
    float: right;
    font-size: .8rem;
}
#apps-list .options div {
    margin-top: 1em;
}
.receipt-type {
    padding: 1px 0;
}
.receipt-label {
    padding-left: 23px;
}
.app.updateReceipt .receipt-label {
    background-image: url(../throbber.svg);
    background-repeat: no-repeat;
    background-position: 6px center;
    background-size: auto 14px;
}
#apps-list .options button, #apps-list .options a {
    padding: 4px 10px 3px;
    font-weight: normal;
    text-decoration: none;
}
#apps-list .action.refresh {
    background-image: url(../refresh.svg);
    background-repeat: no-repeat;
    background-position: 6px center;
    padding-left: 23px;
    background-size: auto 14px;
}
#apps-list .action.refresh:hover {
    background-image: url(../refresh.svg#hover);
}
#apps-list .action[data-action=push] {
    background-image: url(../device.svg);
    background-repeat: no-repeat;
    background-position: 6px center;
    padding-left: 23px;
    background-size: auto 14px;
}
#apps-list .action.refresh:hover {
    background-image: url(../refresh.svg#hover);
}
#apps-list .action[data-action=connect] {
    background-image: url(../tools.svg);
    background-repeat: no-repeat;
    background-position: 6px center;
    padding-left: 23px;
    background-size: auto 14px;
}
#apps-list .action[data-action=connect]:hover {
    background-image: url(../tools.svg#hover);
}
#apps-list input[type="checkbox"] {
}
#apps-list p {
    font-size: 0.8em;
    color: #888;
    margin: 0;
    margin-bottom: 2px;
}

#apps-list .app-validation {
    font-size: 0.8em;
}

#apps-list .app-validation > span.app-validation-result {
    font-weight: bold;
}

#apps-list .app-validation > a {
    color: darkred;
}

#apps-list .app.warning-manifest {
    border: 2px orange dashed;
    background-color: #FCF5BA;
}

#apps-list .app.invalid-manifest {
    border: 2px darkred dashed;
    background-color: #E5CBCB;
}

.app-validation-list {
    display: none;
}

#add-app-url {
    width: 220px;
}
button, input[type="url"], input[type="text"], a.button {
    font-size: 0.8rem;
    background: #f0f0f0;
    color: #444;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 7px 9px;
    font-weight: bold;
    text-decoration: none;
}
a.button {
    display: inline-block;
}
button:disabled {
    color: #999;
    cursor: default;
}
input[type="url"], input[type="text"] {
    background-color: #fff;
    color: #4D4E53;
    font-weight: normal;
    width: 200px;
}
input:-moz-placeholder {
    color: #999;
    font-style: italic;
}
button:hover:not(:disabled), .popover-wrap:hover button, a.button:hover {
    color: #1155cc;
    cursor: pointer;
}
.popover-wrap button {
    pointer-events: none;
    z-index: 2;
}
.popover-wrap select {
    border: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-appearance: none;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}
.popover-wrap select:active {
    opacity: 1;
}
.popover-wrap select option {
    background-color: #adbe35;
    color: #4d5713;
    padding: 2px 4px;
}
.popover-wrap select option:disabled {
    font-style: italic;
}
.popover-wrap {
    display: inline;
    position: relative;
}
#action-add-manifest, .is-manifest #action-add-page {
    display: none;
}
.is-manifest #action-add-manifest, #action-add-page {
    display: inline;
}
.button-popover {
    display: none;
    position: absolute;
    right: 0.4em;
    top: 1.2em;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #fff;
}
.popover-wrap:hover .button-popover {
    display: block;
}


section header {
    border-bottom: 1px solid #eee;
}
#add-project-dialog {
    display: block;
    overflow: hidden;
    padding: 0;
    margin-top: 1em;
    float: right;
    position: relative;
    z-index: 1;
}
#dashboard {
    padding: 0;
}
#dash-main {
    padding: 10px;
    position: relative;
}

/* New Project Dialog */
#new-project {
    font-size: 14px;
    display: none;
}
#new-project section {
    float: left;
    width: 32%;
    border: 1px solid black;
    height: 250px;
    padding: 10px 20px;
    margin: 20px 0 0 1%;
    position: relative;
}
#new-project h2 {
    background: #eee;
    padding: 15px 20px 10px;
    margin: -10px -20px 10px;
    border-bottom: 1px solid black;
}
#new-project p {
    font-size: .9em;
}
#new-project label,
#new-project button,
#new-project select,
#new-project input {
    display: block;
    width: 100%;
    margin: 5px 0;
}
#new-project label {
    font-weight: bold;
    margin-top: 1em;
}
#new-project button.go {
    position: absolute;
    bottom: 10px;
    width: -moz-calc(100% - 40px);
}

/* Device-related UI */
.device-dependent {
    transition: .5s opacity, .5s height;
    opacity: 0;
    pointer-events: none;
}
.device-connected .device-dependent {
    opacity: 1;
    pointer-events: all;
}

#sidebar .device-dependent {
    text-align: center;
    height: 0;
    margin: 0;
}

#sidebar .device-dependent img {
    vertical-align: middle;
}

.device-connected #sidebar .device-dependent {
    height: 50px;
}
