/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
    color: black;
    background-image: url(watermark.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: -moz-box;
    -moz-box-orient: horizontal;
}
.center-box {
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;
    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;
}
article {
    display: -moz-box;
    -moz-box-flex: 1;
    -moz-box-align: stretch;
    box-align: stretch;
    min-width: 960px;
    min-height: 768px;
    height: 100%;
}
header {
    width: 200px;
    margin-right: 10px;
    padding: 20px 10px;
    border-right: 1px solid #eee;
    background-color: #f5f5f5;
    text-align: right;
}
h1, h2 {
    margin: 20px 0;
    color: #4D4E53;
    font-weight: lighter;
    font-size: 1.5em;
}
.beta {
    position: absolute;
    left: -25px;
    top: 105px;
    text-align: center;
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-45deg);
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 0, 0, 0.7);
    padding: 1px 40px;
    font-size: 16px;
    font-weight: bolder;
    color: white;
}
nav {
    margin: 20px 0;
}
nav ul {
    margin: 0;
}
nav li {
    margin: 0;
}
nav a {
    display: block;
    color: #666;
    text-decoration: none;
    padding: 5px 0;
}
nav a:active, nav a.active {
    color: #222;
}
#toggleButton {
    color: #f5f5f5;
    background-color: #ff0000;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    line-height: 20px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.3) inset, 0px 1px 0px rgba(0, 0, 0, 0.3);
}
#toggleButton:hover {
    color: #fff;
}
#toggleButton abbr {
    padding: 0 0 0 8px;
}
#toggleButton .start {
    display: none;
}
#toggleButton .stop {
}
#toggleButton.started {
    background-color: #008000;
}
#toggleButton.started .stop {
    display: none;
}
#toggleButton.started .start {
    display: inline;
}
#toggleButton + small {
    margin-top: 2px;
    display: block;
    color: #666;
}

article section {
    display: none;
    -moz-box-flex: 1;
    padding: 20px 10px;
}
section.active {
    display: -moz-box;
    display: box;
}
dfn {
    border-radius: 3px;
    border: none;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-style: normal;
    padding: 3px 5px 2px;
    white-space: nowrap;
}
figure {
    display: block;
    text-align: center;
    margin-bottom: 1.5em;
}
